@model BusBoard.Web.ViewModels.BusInfo

@{
  ViewBag.Title = "Bus Information";
}
<meta charset="UTF-8"></meta>
<h2>BusInfo &#128512</h2>

<div class="row">
  <p>You entered postcode @Model.Postcode.ToUpper().Insert(Model.Postcode.Length-3, " "). Showing the @Model.Stops.Count closest stops.</p>
  @foreach (var stop in Model.Stops)
  {
    <h3>@stop.Name</h3>
    <h5>(@stop.Distance metres away)</h5>
    <table style="width:100%">
      <tr>
        <th>Line Number</th>
        <th>Destination</th>
        <th>Estimated Departure Time</th>
      </tr>
      @{
        foreach (var bus in stop.BusList)
        {
          <tr>
            <td>@bus.lineName</td>
            <td>@bus.direction</td>
            <td>@bus.bestDepEst</td>
          </tr>
        }
      }
    </table>
    <p></p>
  }
  
</div>
